* {
	margin: 0;
	padding: 0;
}
body {
	background: #fff;
	color: #333;
	font: 100%/1.5em "Helvetica Neue",Arial,Helvetica,sans-serif;
	padding: 3em;
}

a {
	color: #00c;
}
abbr {
	border-bottom: 1px dashed #ccc;
}
code, pre {
	background: #272822;
	color: #f8f8f2;
	font: 100%/1em Menlo,Monaco,"Courier New",monospace;
}

h1 {
	font-size: 2em;
	line-height: 1.5em;
	padding: 0 0 0.75em;
}
h2 {
	font-size: 1.25em;
	line-height: 1.2em;
	padding: 0 0 0.6em;
}
ol,
p,
ul{
	padding: 0 0 1.5em;
}
blockquote {
	border-left: 1px solid #ccc;
	color: #999;
	font-style: italic;
	margin: 0 0 1.5em;
	padding: 0 0 0 1.5em;
}
blockquote p:last-child {
	padding-bottom: 0;
}
pre {
	line-height: 1.5em;
}

header nav {
	margin: -1.5em 0 1.5em;
}
header nav ul {
	list-style: none;
}
header nav ul li {
	display: inline;
}

footer {
	color: #ccc;
	padding: 1.5em 0 0;
}

.post_body {
	font-family: Georgia,"Times New Roman",Times,serif;
}

.code {
	margin: 0 0 1.5em;
	padding: 1.5em 0;
}

.post_list {
	list-style: none;
}
.post_list .meta {
	color: #999;
}
